<%= simple_form_for [@post, @post.comments.build] , :wrapper => :inline do |f|%>
  <%= f.input :author_name%>
  <%= f.input :author_email %>
  <%= f.input :content, :input_html => { :class => "content_css" }%>
  <div class="actions">
    <%= f.submit "Submit",  :class => "btn primary"%>
  </div>
<%end%>


