<p id="notice"><%= notice %></p>

<p>
  <b>Author name:</b>
  <%= @.author_name %>
</p>

<p>
  <b>Author email:</b>
  <%= @comment.author_email %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
