<div class="hero-unit">
	<div class="span14">
		<h1>Welcome here</h1>
		<p>Marshall"s Blog...</p>
		<p><a id="show_info" class="btn primary large" href="#"  data-placement="right"  data-original-title="My Info" rel="popover" data-content="click to know more detail..." >more about me &raquo;</a></p>
	</div>
</div>

<% @posts.each do |post| %>
	<section class="hero-unit">
		<div class="page-header">
			<h1><%= link_to post.title, post %> <small><%= time_ago_in_words post.created_at %></small></h1>
		<div>

		<div class="row">
			<div class="span13">
				<%= post.content %>
			</div>
			<div class="span3">
				<%= link_to 'Edit', edit_post_path(post) %>
				<%= link_to 'Destroy', post, confirm:'sure?', method: :delete %>
			</div>
		</div>
	</section>
<% end %>


<%= paginate @posts %>

<%= link_to 'New Post', new_post_path %>

